blinker==1.9.0
click==8.3.1
Flask==3.1.3
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy @ file:///home/runner/.termux-build/python-numpy/src/dist/numpy-2.2.5-cp312-cp312-linux_arm.whl#sha256=52ae014b1793d10acc098709afb6d43c10efcdcd7efe00ed7b10da722681c4c1
Werkzeug==3.1.6
